@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: white;
  background: #224941 url(./img/bg.jpg) center center/cover;
  margin: 0;
}
h1 {
  text-align: center;
}
.container {
  height: 100vh;
  max-width: 400px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  max-width: 320px;
  max-height: 320px;
  background-color: #010f1c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-gradient {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  border-radius: 50%;
  max-width: 340px;
  max-height: 340px;
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: circle 7s linear forwards infinite;
  transform-origin: bottom;
}

.pointer-container {
  /* border: 1px solid yellow; */
  position: absolute;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  z-index: 100;
}

@keyframes circle {
  from {
    transform: rotate(0deg) translate(-195px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-195px) rotate(-360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 400px) {
  .circle {
    max-width: 250px;
    max-height: 250px;
  }
  .circle-gradient {
    max-width: 270px;
    max-height: 270px;
  }
  @keyframes circle {
    from {
      transform: rotate(0deg) translate(-150px) rotate(0deg);
    }

    to {
      transform: rotate(360deg) translate(-150px) rotate(-360deg);
    }
  }
}

@media (max-width: 300px) {
  .circle {
    max-width: 190px;
    max-height: 190px;
  }
  .circle-gradient {
    max-width: 210px;
    max-height: 210px;
  }
  @keyframes circle {
    from {
      transform: rotate(0deg) translate(-120px) rotate(0deg);
    }

    to {
      transform: rotate(360deg) translate(-120px) rotate(-360deg);
    }
  }
}

@media (max-width: 230px) {
  .circle {
    max-width: 120px;
    max-height: 120px;
  }
  .circle-gradient {
    max-width: 140px;
    max-height: 140px;
  }
  @keyframes circle {
    from {
      transform: rotate(0deg) translate(-95px) rotate(0deg);
    }

    to {
      transform: rotate(360deg) translate(-95px) rotate(-360deg);
    }
  }
}

@media (max-width: 150px) {
  .circle {
    max-width: 30px;
    max-height: 30px;
  }
  .circle-gradient {
    max-width: 50px;
    max-height: 50px;
  }
  .text {
    font-size: 5px;
  }
  .pointer-container {
    display: none;
  }
}
