@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* min-height: 100vh; */
  transform: translateY(40%);
}

.btn {
  background-color: #3498db;
  border: none;
  width: 100%;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.container {
  /* border: 1px solid transparent; */
  box-shadow: 0px 0px 9px 6px grey;
  width: 500px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center;  >>  make the inputs take only the fit content width not the whole width of the form */
  /* justify-content: center; */
  /* text-align: center; */
}

.container .form > h2 {
  /*Register With Us heading*/
  text-align: center;
}
.row {
  /* color: #070707; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* position: relative; */

  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

label {
  /* padding-left: 10px; */
  display: block;
  /* margin-bottom: 10px; */
}
button {
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.row input {
  /* padding:10px 0px 10px 5px; */
  padding: 10px;
  width: 100%;
  border: 2px solid #f0f0f0;
}

.form small {
  display: none;
  position: absolute;
  /* visibility: hidden; */
  color: red;
  left: 0;
  /* top:100%; */
  bottom: 0px;
}
.row input:focus {
  outline: 0;
  border-color: #777;
}
.row.success input {
  border-color: #2ecc71;
}
.row.error input {
  border-color: red;
}

.row.error.visible small {
  display: block;
}

